@()(implicit request: RequestHeader, maybeUser: Option[User], messages: Messages)

@import controllers.web.routes

@views.html.web.templates.default(title = "Home", tab = "index", loggedUser = maybeUser) {
	
	<div class="pull-right">
		<img src="@routes.Assets.commonImg("play.svg")" width="250" style="margin-top: 10px; margin-bottom: 20px"></img>
	</div>
	<img class="pull-right" src="@routes.SharedResources.rsc("example.png")" style="margin: 10px 30px 0 0"></img>
	
	<h1 class="text-primary">@Messages("web.index.title")</h1>
	
	<p class="lead">
		@Messages("web.index.intro")<br>
		@maybeUser.map { user =>
			@Html(Messages("web.index.intro.logged", user.fullName, routes.Application.myAccount, routes.Auth.signOut))
		}.getOrElse {
			@Html(Messages("web.index.intro.notlogged", routes.Auth.signIn, routes.Auth.startSignUp, routes.Auth.forgotPassword))
		}
	</p>
}