@()(implicit request: RequestHeader, user: User, messages: Messages)

@import controllers.web.routes

@views.html.web.templates.default(title = "My account", tab = "myaccount", loggedUser = Some(user)) {
	
	@views.html.tags.alertFromRequest(request, "success")
	
	<h1>@Messages("web.myaccount.title") <a class="btn btn-default btn-sm pull-right" href="@routes.Auth.changePassword">@Messages("changepass")</a></h1>
	
	<table class="table table-striped table-condensed">
		<tr>
			<td>@Messages("field.email")</td>
			<td>@user.email</td>
		</tr>
		<tr>
			<td>@Messages("field.nick")</td>
			<td>@user.nick</td>
		</tr>
		<tr>
			<td>@Messages("field.firstname")</td>
			<td>@user.firstName</td>
		</tr>
		<tr>
			<td>@Messages("field.lastname")</td>
			<td>@user.lastName</td>
		</tr>
	</table>
}
