@(passwordsForm: Form[(String, String, String)])(implicit request: RequestHeader, messages: MessagesProvider)
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }
@import controllers.admin.routes
@default("Change Password") {
	@tags.alertFromRequest(request, "error")
	@passwordsForm.globalError.map { error =>
		@tags.alert(error.message, "error")
	}
	@b4.formCSRF(routes.Auth.handleChangePassword) {
		<fieldset>
			<legend>@Messages("changepass.title")</legend>
			@b4.password( passwordsForm("current"), '_hiddenLabel -> Messages("changepass.field.current"), 'placeholder -> Messages("changepass.field.current"), 'autofocus -> true )
			@b4.password( passwordsForm("password1"), '_hiddenLabel -> Messages("changepass.field.new"), 'placeholder -> Messages("changepass.field.new") )
			@b4.password( passwordsForm("password2"), '_hiddenLabel -> Messages("changepass.field.repeat"), 'placeholder -> Messages("changepass.field.repeat") )
			@b4.submit('class -> "btn btn-primary btn-block"){ @Messages("reset") }
			<a class="btn btn-default btn-block" href="@routes.Application.myAccount">@Messages("back")</a>
		</fieldset>
	}
}
