@(signInForm: Form[com.mohiva.play.silhouette.core.providers.Credentials])(implicit request: RequestHeader)

@import b3.vertical.fieldConstructor
@import controllers.admin.routes

@default("Sign In") {
	@tags.alertFromRequest(request, "error")
	@b3.form(routes.Auth.authenticate) {
		<fieldset>
			<legend>Sign in with your credentials</legend>
			@b3.text( signInForm("identifier"), '_label -> None, 'placeholder -> "your@email.com", 'autofocus -> true )
			@b3.password( signInForm("password"), '_label -> None, 'placeholder -> "password" )
			@b3.submit('class -> "btn btn-primary btn-block"){ Sign in }
		</fieldset>
	}
	@views.html.admin.tags.signInHelper()
}