@(passwordsForm: Form[(String, String, String)])(implicit request: RequestHeader, user: User, messages: Messages)
@import b3.vertical.fieldConstructor
@import controllers.web.routes
@default("Change Password", tab = "myaccount", loggedUser = Some(user)) {
	@tags.alertFromRequest(request, "error")
	@passwordsForm.globalError.map { error =>
		@tags.alert(error.message, "error")
	}
	@b3.form(routes.Auth.handleChangePassword) {
		<fieldset>
			<legend>@Messages("changepass.title")</legend>
			@b3.password( passwordsForm("current"), '_hiddenLabel -> Messages("changepass.field.current"), 'placeholder -> Messages("changepass.field.current"), 'autofocus -> true )
			@b3.password( passwordsForm("password1"), '_hiddenLabel -> Messages("changepass.field.new"), 'placeholder -> Messages("changepass.field.new") )
			@b3.password( passwordsForm("password2"), '_hiddenLabel -> Messages("changepass.field.repeat"), 'placeholder -> Messages("changepass.field.repeat") )
			@b3.submit('class -> "btn btn-primary btn-block"){ @Messages("reset") }
			<a class="btn btn-default btn-block" href="@routes.Application.myAccount">@Messages("back")</a>
		</fieldset>
	}
}
