@(emailForm: Form[String])(implicit request: RequestHeader)

@import b3.vertical.fieldConstructor
@import controllers.web.routes

@default("Forgot Password", tab = "signin") {
	@tags.alertFromRequest(request, "error")
	@b3.form(routes.Auth.handleForgotPassword) {
		<fieldset>
			<legend>Have you forgot your password?</legend>
			@b3.text( emailForm("email"), '_label -> None, 'placeholder -> "your@email.com", 'autofocus -> true )
			@b3.submit('class -> "btn btn-primary btn-block"){ Submit }
		</fieldset>
	}
	@views.html.web.tags.signInHelper()
}