@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader)

@import b3.vertical.fieldConstructor
@import controllers.web.routes

@default("Reset Password", tab = "signin") {
	@tags.alertFromRequest(request, "error")
	@passwordsForm.globalError.map { error =>
		@tags.alert(error.message, "error")
	}
	@b3.form(routes.Auth.handleResetPassword(tokenId)) {
		<fieldset>
			<legend>Reset your password</legend>
			@b3.password( passwordsForm("password1"), '_label -> None, 'placeholder -> "password", 'autofocus -> true )
			@b3.password( passwordsForm("password2"), '_label -> None, 'placeholder -> "repeat password" )
			@b3.submit('class -> "btn btn-primary btn-block"){ Reset }
		</fieldset>
	}
}
