@(tokenId: String, passwordsForm: Form[(String, String)])(implicit request: RequestHeader, messages: Messages)
@implicitFieldConstructor = @{ b4.vertical.fieldConstructor() }
@default("Reset Password", tab = "signin") {
	@tags.alertFromRequest(request, "error")
	@passwordsForm.globalError.map { error =>
		@tags.alert(error.message, "error")
	}
	@b4.formCSRF(controllers.web.routes.Auth.handleResetPassword(tokenId)) {
		<fieldset>
			<legend>@Messages("forgot.reset.title")</legend>
			@b4.password( passwordsForm("password1"), '_hiddenLabel -> Messages("field.password"), 'placeholder -> Messages("field.password"), 'autofocus -> true )
			@b4.password( passwordsForm("password2"), '_hiddenLabel -> Messages("field.password.repeat"), 'placeholder -> Messages("field.password.repeat") )
			@b4.submit('class -> "btn btn-primary btn-block"){ @Messages("reset") }
		</fieldset>
	}
}
