@(title: String, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)(implicit loggedManager: Manager)

@import views.html.admin.tags.auth._
@import controllers.admin.routes

@navbarContent = {
	<ul class="nav navbar-nav">
		<li class="@("active".when(tab == "index"))"><a href="@routes.Application.index">Index</a></li>
		@withRole("social") {
			<li class="@("active".when(tab == "social"))"><a href="@routes.Application.social">Social area</a></li>
		}
		@withRole("sales", "high") {
			<li class="@("active".when(tab == "sales_or_high"))"><a href="@routes.Application.salesOrHigh">Sales || High</a></li>
		}
		@withRoles("sales", "high") {
			<li class="@("active".when(tab == "sales_and_high"))"><a href="@routes.Application.salesAndHigh">Sales && High</a></li>
		}
		@withRole("master") {
			<li class="@("active".when(tab == "admin"))"><a href="@routes.Application.admin">Admin area</a></li>
		}
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="navbar-text">Hello <span class="text-success">@loggedManager.firstName</span>! Your roles are: <span class="text-info">@loggedManager.roles.mkString(", ")</span></li>
		<li><a href="@routes.Auth.signOut">Sign out</a></li>
	</ul>
}

@main(title, navbarContent, styles, scripts, modals)(content)